/* NAVBAR */
a, .navbar-brand, h1, h3 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
}

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
}

.carousel-inner img {
    width: 100%;
    height: 50%;
    
}
.carousel-caption {
    position: absolute;
    top: 39%;
}

/* .bg {
    background-attachment: src(/assets/images/jumbotron.JPG) fixed;
    position: fixed;
    width: 100%;
    height: 350px; 
    background-size: cover;
    top:0;
    left:0;
    z-index: -1;
  }
   
.jumbotron {
    margin-bottom: 0px;
    height: 350px;
    color: white;
    text-shadow: grey 0.2em 0.2em 0.2em;
    background:transparent;
  } */